$primary: #2b2d42 !default;
$primaryVariant: #8d99ae !default;
$alternative: #edf2f4 !default;
$secondary: #b3d89c !default;
$secondaryVariant: #d0efb1 !default;

.row {
  top: 6vh;
  left: 0;
  width: 35vw;
  height: 75vh;
  display: flex;
}

.container-list {
  width: 15vw;
  height: 75;
}

.container-detail {
  width: 20vw;
  height: 75vh;
}

h1 {
  color: $primary;
  float: right;
  font-family: serif;
  font-weight: 200;
}
