<div class="container-full">
  <div class="container-shiftMiddle">
    <div class="left-container">
      <div class="member-name">Member Name</div>
  <div class="text">Total Time: ______</div>

      <div class="text">Enter email you would like to send to:</div>
      <input type="text" class="email" placeholder="professor@email.com">
      <div class="inline">

        <!-- <div class="text">How much time would you like to give?</div> -->
        <!-- <input type="text" class="math" placeholder="Hours">
        <input type="text" class="math" placeholder="Minutes"> -->
        <!-- <button
          class="confirm">Confirm Change</button>
      </div> -->
    </div>

    <div class="divider"></div>

    <div class="right-container">
      <button class="time">Log Out</button>
      <button class="time">Time Out</button>
    </div>
  </div>
</div>
