<div class="container">
  <div class="box-1">

      <h1 class="userTitle">firstName</h1>
      <h6 class="scroll-down">scroll down</h6>
  </div>
  <div class="user-time">Email: ___</div>

  <div class="details">Total Time: _____</div>
</div>


<!-- {{ event.details }} -->
<!-- nameFirst: '',
nameLast: '',
email: '',

isAdmin: false,
timeinHours: null,
timeinMinutes: null,

timeoutHours: null,   // keeps track when they came out
timeoutMinutes: null,

totalTimeMin:null,
totalTimeHours:null -->
