<div class="container-full">
  <img src="https://www.kuppingercole.com/pics/fotolia_111383566_m_bearb.jpg" alt="Cyber Defense">
  <div class="container-shiftMiddle">
    <div class="img-container">
      <!-- <div class="title">Member(s)</div> -->
      <!-- <hr>
      <app-user></app-user>
      <p>{{user}}</p> -->
    </div>

    <div class="divider"></div>
    <div class="event-container">
      <div class="title">Event(s)</div>
      <hr>
      <app-event></app-event>
    </div>
  </div>
</div>
