$primary: #2b2d42 !default;
$primaryVariant: #8d99ae !default;
$alternative: #edf2f4 !default;
$secondary: #b3d89c !default;
$secondaryVariant: #d0efb1 !default;

.user-container {
  top: 0;
  left: 0;
  height: 7%;
  width: 100%;
  background-color: white;
  border-radius: 30px;
  border: 1.2px solid $primary;
}

.user-details {
  height: 60%;
  line-height: 1.7;
  margin-left: 4%;
  font-size: 2em;
  font-weight: 500;
  color: $primary;
  cursor: default;
}

.user-time {
  float: right;
  margin-right: 4%;
  font-style: oblique;
}
