
<div class="container-full">
  <div class="welcome"> Join the Club!</div>
  <div class="main">
    <form (ngSubmit)="onSignup(f)" #f="ngForm">
      <div class="input-spacing">
<!-- we access inputs through the name -->
        <input
          class="name"
          ngModel
          name = "firstName"
          id="first"
          placeholder="First Name"
          required>

          <div class="name-space"></div>

          <input
            class="name"
            type="text"
            id="last"
            ngModel
            name = "lastName"
            placeholder="Last Name"
            required>

        <div class="spacing"></div>

          <input
            class="email"
            type="email"
            id="email"
            ngModel
            name = "email"
            placeholder="EMAIL"
            required>

        <div class="spacing"></div>

          <input
            class="password1"
            type="password"
            id="password"
            ngModel
            name = "password"
            placeholder="PASSWORD"
            required
            minlength="6">

        <div class="spacing"></div>

          <!-- <input class="password2" type="password" name="password2" placeholder="PASSWORD"> -->

      </div>

      <button
        class="register"
        type="submit"
        [disabled]="!f.valid">Register</button>
    </form>
  </div>

  <h2 class="signin">Click here to <span routerLink="/signin">sign in</span></h2>
</div>
